@CHARSET "utf-8";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

#footer {
	clear: both;
	background-color: #ABCDEF;
	bottom: 0%;
	position: fixed;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	border-width: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #bbbbcc;
	text-align: center;
	width:100%;
	font-size:9px;
}
