@CHARSET "utf-8";

body {
	padding:0px;
	margin:0px;
	background-color: #eeeef1;
	font-family: arial,sans-serif;
}

#header {
	padding:0px;
	margin:0px;
	background-color:#ABCDEF;
	height:29px;
	border-style:solid;
	border-color:#bbbbcc;
	border-width:0 0 1 0;
	float:left;
	width:100%;
}

#footer {
	clear: both;
	background-color: #ABCDEF;
	bottom: 0%;
	position: fixed;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	border-width: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #bbbbcc;
	text-align: center;
	width:100%;
	font-size:9px;
}

#mainMenu {
	text-align:right;
	padding:2px;
}

#content {
	background-color:#fafafa;
	display: block;
	clear: both;
}

form {
	display: inline;
}